body {
    margin: 0;
    overflow: hidden;
}

textarea {
  resize: none;
  outline: none;
  border: 1px ;
  height: 100%;
  width: 100%;

  font-family: "Lucida Console", monospace, sans-serif;
  line-height: 115%

}

.tab {
    margin: 0;
    overflow: hidden;
  }

.tabcontent {
    display: none;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
#gui_css { 
    position: absolute; 
    
    top: 100px; 
    left:3px;
    
    width: 100 px;
    height: 100 px;
}